{% extends "layout.html" %}

{% block title %}
    Companion
{% endblock %}

{% block main %}
    <audio autoplay loop>
        <source src="static/titanium.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <h2>AI Companion</h2>
    <p>You: {{ user_input }}</p>
    <p>SerenAId: {{ openai_response }}</p>
    <form action="/companion" method="post">
        <label for="message">Message:</label>
        <input autocomplete="off" autofocus class="form-control" id="message" name="message" placeholder="message" type="text">
        <br>
        <button class="btn btn-primary" type="submit">Begin Conversation</button>
        <p>{{ response }}</p>
    </form>
{% endblock %}
