{% extends "layout.html" %}

{% block title %}
    SerenAId
{% endblock %}

{% block main %}
    <audio autoplay loop>
        <source src="static/titanium.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <div class="typing-text">
        <img src="static/full-logo.png" alt="SerenAId Logo" id="logo">
        <p>SerenAId is supercharging mental wellness with the power of artificial intelligence. Harness your love for aesthetics, enrich your visions with machine learning, and fuel your mindfullness.</p>
        <br>
        <p><a href="/register">Create an Account</a> or <a href="/login">Log In</a> to unlock the power of SerenAId</p>
    </div>

{% endblock %}
